* {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	background-color: antiquewhite;
	margin: auto;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	font-size: 25px;
	color: antiquewhite;
	background-color: darkslateblue;
}

#wrapper {
	position: fixed;
	top: 39px;
	bottom: 30px;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

#sidebar {
	width: 256px;
	text-align: left;
	font-size: 22px;
	color: antiquewhite;
	background-color: darkslateblue;
	z-index: 1;
	overflow: auto;
}

h4 {
	margin: 0;
	padding: 10px;
}

#close-button {
	display: none;
}

#sidebar a {
	color: antiquewhite;
	text-decoration: none;
}

#sidebar a:hover {
	color: purple;
}

#content-name {
	font-size: medium;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	text-align: right;
}

#footer-image {
	margin-top: -3px;
	height: 35px;
	width: 210px;
}

#foursquare-image {
	width: 150px;
	height: 150px;
	background: transparent url('../img/loading-150x150.gif') center no-repeat;
}

@media screen and (max-width: 720px) {
	#map {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0;
	}

	#sidebar {
		background: linear-gradient(to bottom, rgba(72,61,139,1) 0%,rgba(72,61,139,0.5) 50%,rgba(72,61,139,0.5) 100%);
		padding: 0;
		position: absolute;
		left: -220px;
		transition: left 500ms;
	}

	#sidebar.sidebar-open {
		left: 0;
	}

	#sidebar-header {
		display: flex;
		justify-content: space-between;
	}

	#sidebar ul {
		margin: 10px 40px 10px 0;
	}

	#sidebar hr {
		margin: 0 40px 0 10px;
	}

	#close-button {
		display: block;
		width: 40px;
		height: 40px;
		right: 10px;
		font-size: 25px;
		margin-top: 3px;
		background-color: rgba(0,0,0,0);
		color: antiquewhite;
		border: none;
	}

	#close-button:focus {
		outline:0;
	}
}

@media screen and (min-width: 721px) {
	#map {
		min-width: 465px;
		width: auto;
		flex-shrink: 1;
		flex-grow: 1;
	}

	#sidebar {
		padding: 10px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	#close-button {
		display: none;
	}
}
